#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.landingRow {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
}
